@import "../../../node_modules/semantic-ui-css/semantic.min.css";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../node_modules/react-confirm-alert/src/react-confirm-alert.css";
@import "../../../node_modules/react-notifications-component/dist/theme.css";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Muli", sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

h6 {
    font-size: 18px;
}

p {
    line-height: 1.8;
    margin: 0;
    font-size: 16px;
    color: #7e7e7e;
}


/* THE ENTIRE APP CONTAINER STYLE*/
.app-container {
	position: relative;
}

/* APP HEADER */
.app-header {
	position: absolute;
	top: 0; left: 0; right: 0; 
	height: 4em;
	background-color: #01579B;
	color: white;
	-webkit-display: flex;
	display: flex;
	align-items: center;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.15);
}

.app-header .brand-name {
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
}

.app-header .menu-icon{
	margin-left: 10px;
	cursor: pointer;
}

.breadcrumb-nav-container{
	position: absolute;
	top: 4em; /* TO SKIP THE HEADER*/
	height: 4em;
	width: 100%;
	display: flex;
	align-items: center;
}

/* THE APP CONTENT (APP CONTAINER MINUS THE HEADER and BREADCRUMB NAVIGATION)*/
.app-content {
	position: absolute;
	top: 4em; /* Since height is 4em */
	bottom: 0; left: 0; right: 0;
	display: flex;
}

.mini-sidebar {
  width: 70px;
  height: 100%;
  background-color: rgb(17, 17, 17);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.mini-sidebar .item{
	width: 100%;
	height: 70px;
	color: whitesmoke;
	text-align: center;
	line-height: 70px;
	transition: all .5s;
	border-bottom: 1px solid rgba(85, 85, 85, 0.37);
}

.mini-sidebar .item:hover {
	background-color: #181818;
	cursor: pointer;
	transition: all .5s;
}

@media screen and(max-height:690px){
	.mini-sidebar .item {
		height: 55px;
		line-height: 55px;
	}
}

@media screen and(max-width:380px){
	.mini-sidebar {
		display: none;
	}
}


.mini-sidebar .item.active {
	background-color: rgba(25, 118, 210, 0.712);
	cursor: pointer;
	transition: all .5s;
}

.app-modal {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-modal .app-modal-header{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.app-modal .app-modal-content {
	flex: 1;
	padding: 7px;
	position: relative;
}

.app-modal .app-modal-footer{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border-top: 1px solid #ddd;
}

/* UPLOAD SCREENS (ENVIRONMENT, COMPONENT...)*/
.upload-screen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.upload-screen .uploaded-view {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-top: 25px;
}

.uploaded-view>h4{
	font-size: 25px;
	padding-bottom: 5px;
	font-weight: "500";
	border-bottom: 1px solid #ddd;
	color: #01579B
}

.upload-screen .upload-view {
	flex: 1;
}

.upload-view .content {
	padding: 20px 150px;
}

@media screen and(max-width:560px){
	.upload-view .content {
		padding: 10px 15px;
	}
}

.upload-view .content h4{
	font-size: 20px;
	font-weight: 500;
}

.upload-view .content .upload-zone-container{
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;
}

.upload-zone-container .upload-zone{
	height: 100%;
	flex: 1;
	border: 2px dashed #ccc;
	margin-bottom: 10px;

}

.upload-zone .drop-zone{
	position: relative;
}

.drop-zone .input {
	position: absolute; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%);
}

.drop-zone .desc {
	position: absolute; 
	bottom:0; 
	left:0;
	right:0; 
	margin-bottom:10px; 
	text-align: center
}

.drop-zone .drag-over-desc{
	position: absolute; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%);
	font-size: 20px;
	transition: all .5s;
	color: #004D40;
}

.drop-zone.drag-over {
	background-color: #B2DFDB;
	transition: all .5s;
}


/**  CREATE EXPERIMENT SCREEN **/
.create-experiment-screen{
	padding-top: 30px;
	display: flex;
}

.create-experiment-screen .sidebar-palette {
	display: flex;
	flex-direction: column;
	min-width: 250px;
	background-color: rgba(33, 46, 61, 0.856)
}

.create-experiment-screen .main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.create-experiment-screen .main-content .stepper-container{
	text-align: center;
	padding: 5px 0;
}

.create-experiment-screen .main-content .current-display{
	flex: 1;
	position: relative;
}

.create-experiment-screen .main-content .content-footer{
	width: 100%;
	text-align: center;
	padding: 10px 0;
}


/* SIDEBAR PALETTE */
.sidebar-palette .header{
	background-color: black;
	padding: 10px;
	text-align: center;
	color: #BBDEFB;
	font-size: 16px;
	font-weight: bold;
}
.sidebar-palette .palette-item-container {
	width: 100%;
	padding: 10px;
	text-align: center;
	transition: all .3s;
}
.sidebar-palette .palette-item-container:hover{
	background-color: rgba(34, 34, 34, 0.411);
	cursor: default;
	transition: all .3s;
}

.sidebar-palette .palette-item-container .palette-item{
	width: 100%;
	padding: 15px ;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(34, 36, 38, 0.70);
    border: 1px solid black;
    border-radius: 5px;
    /*cursor: pointer;*/
    background-color: #292929;
    transition: all 0.3s;
	user-select: none;
	border-left: 5px solid black;
}

.palette-item>h4{
	font-size: 16px;
	color: whitesmoke;
}

/* CONFIGURE COMPONENT ROUTE*/
.create-experiment-screen .canvas-view{
	border-radius: 5px;
	border: 1px solid #64B5F6;
	background-color: #90CAF9;
	width: 90%;
	height: 90%;
	box-shadow: 0 0 2px rgba(5, 32, 71, 0.363);
	display: flex;
	flex-direction: column;
}

.create-experiment-screen .canvas-view .header{
	width: 100%;
	text-align: center;
	padding: 10px;
	color: #0D47A1;
	font-weight: bold;
	font-size: 20px;
	border-bottom: 1px solid #64B5F6;
}

.create-experiment-screen .canvas-view .body {
	flex: 1;
	position: relative;
}

.create-experiment-screen .configure-comp-container{
	width: 100%;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	transition: all .3s;
}


.create-experiment-screen .configure-comp-container:hover {
	background-color: rgba(66, 66, 66, 0.233);
	transition: all .3s;
}

.configure-comp-container .controls{
	opacity: 0;
	transform: translateX(-20px);
	transition: all .3s;
}

.create-experiment-screen .configure-comp-container:hover .controls{
	opacity: 1;
	transform: translateX(0px);
	transition: all .3s;
}

.configure-comp-container .configure-comp-item{
	flex: 0.6;
	padding: 20px;
	box-shadow: 0 2px 2px 0 rgba(34, 36, 38, 0.20);
    border: 1px solid rgba(160, 158, 158, 0.671);
    border-radius: 5px;
    cursor: default;
	background-color: white;
	border-left: 5px solid #333;
    transition: all 0.3s;
    user-select: none;
}

.configure-comp-item > h4 {
	font-size: 16px;
}


/**  CONFIGURE EXPERIMENT ROUTE **/
.configure-exp-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 5px 10px 5px;
}

.kanban-boards-container{
	flex: 1;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.kanban-boards-container .kanban-board{
	border: 1px solid rgba(33, 46, 61, 0.507);
	flex: 1;
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.kanban-board .header{
	width: 100%;
	background-color: rgba(33, 46, 61, 0.856);
	color: whitesmoke;
	padding: 7px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.kanban-board .body{
	flex: 1;
	position: relative;
}

.kanban-board .kanban-card-container {
	width: 100%;
	padding: 5px 10px;
	position: relative;
	transition: all .3s;
}

.kanban-board .kanban-card-container:hover{
	background-color: rgba(0, 0, 0, 0.1);
	transition: all .3s;
}

.kanban-card-container .kanban-card {
	border: 1px solid red;
	padding: 15px;
	box-shadow: 0 2px 2px 0 rgba(34, 36, 38, 0.20);
    border: 1px solid rgba(160, 158, 158, 0.671);
    border-radius: 5px;
    cursor: default;
	background-color: white;
	border-left: 5px solid #333;
    transition: all 0.3s;
    user-select: none;
}

.kanban-card>h4 {
	font-size: 18px;
}

.kanban-board .kanban-card-container .controls{
	opacity: 0;
	transform: translateY(-5px);
	transition: all .5s;
	position: absolute;
	top: 0;
	right: 5px;
}

.kanban-board .kanban-card-container:hover .controls{
	opacity: 1;
	transform: translateY(0);
	transition: all .5s;
}

/***********************
 *     COMPONENTS      *
 ***********************/
 /*NICE MENU CARD (Cards displayed on the home screen)*/
 .nice-menu-card{
	 width: 300px;
	 height: 250px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 margin: 20px !important;
	 cursor: pointer;
	 user-select: none;
	 transition: all .35s;
 }

.nice-menu-card .nmc-icon {
	font-size: 30px;
	margin-bottom: 10px;
}

.nice-menu-card .nmc-text {
	font-size: 20px;
	font-family: "Josefin Sans";
} 

.nice-menu-card:hover {
	background-color: rgba(30, 136, 229, 0.13);
	border: 1px solid rgba(30, 136, 229, 0.315);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transform: translateY(-3px);
	transition: all .35s;
}

.confirm-alert-dialog{
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 35px rgba(56, 26, 26, 0.18);
	border-radius: 5px;
	background-color: whitesmoke;
}

.confirm-alert-dialog .title{
	font-size: 22px;
	color: #0D47A1;
}

.confirm-alert-dialog .message{
	color: #333;
}

.confirm-alert-dialog .actions {
	width: 100%;
	text-align: right;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-top: 10px;
	color: #333;
}


/**************
 *   UTILS    *
 **************/
 .match-parent{
	width: 100%;
	height: 100%;
}

.center-content{
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.center-content-col{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.d-flex {
	-webkit-display: flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.absolute-content{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow-y: auto;
}

/**** LIBRARY OVERWRITES ******/

.react-confirm-alert-overlay{
	z-index: 99999 !important;
	background: rgba(0, 0, 0, 0.3) !important;
	-webkit-animation: react-confirm-alert-fadeIn 0.2s 0.1s forwards !important;
  	-moz-animation: react-confirm-alert-fadeIn 0.2s 0.1s forwards !important;
  	-o-animation: react-confirm-alert-fadeIn 0.2s 0.1s forwards !important;
  	animation: react-confirm-alert-fadeIn 0.2s 0.1s forwards !important;
}

.react-confirm-alert-blur {
	filter: blur(0.5px) !important;
	-webkit-filter: blur(0.5px) !important;
}



/** CSS LOADER ANIMATION **/
.spinning-loader,
.spinning-loader:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
.spinning-loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.8em solid rgba(33, 112, 214, 0.2);
    border-right: 0.8em solid rgba(33, 112, 214, 0.2);
    border-bottom: 0.8em solid rgba(33, 112, 214, 0.2);
    border-left: 0.8em solid #2170d6;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* TEXT LOAD THREE DOTS*/
@keyframes dots-1 {
    from {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
}
@keyframes dots-2 {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes dots-3 {
    from {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}
@-webkit-keyframes dots-1 {
    from {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
}
@-webkit-keyframes dots-2 {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes dots-3 {
    from {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}
